// Extra styles for site
@import './palette'

@media (max-width: 900px) {
.sidebar-button {
      display: block;
}
}

@media (max-width: 1200px) {
  .search-box input {
    cursor: pointer;
    width: 0;
    max-width: 0;

      &:focus {
        max-width: none;
      }
  }
}

@media (max-width: 1016px) {
  .sidebar-button {
    display: block !important;
  }

  .navbar {
    padding-left: 4rem !important;
  }

  .navbar .can-hide {
    display: none !important;
  }

  .theme-container.sidebar-open.no-sidebar .sidebar {
    transform: translateX(0);
    display: block;
  }

  .dropdown-wrapper .nav-dropdown .dropdown-item h4, .dropdown-wrapper .nav-dropdown .dropdown-item > a {
    font-size: 15px;
    line-height: 2rem;
  }

  .theme-container {

    .sidebar .nav-links {
      display: block;
    }

    .dropdown-wrapper .nav-dropdown {
      position: static;
      max-height: none;
      border: 0;
      top: auto;
      right: auto;
    }

    .dropdown-wrapper {
      height: auto;
    }

    .dropdown-wrapper:hover .nav-dropdown, .dropdown-wrapper.open .nav-dropdown {
      display: none !important;
    }

    .dropdown-wrapper.open:hover .nav-dropdown, .dropdown-wrapper.open .nav-dropdown {
      display: block !important;
    }
  }
}

.ag-btn
  background-color $accentColor
  color $white
  font-size inherit
  border-radius 4px
  transition background-color .1s ease
  border-bottom 1px solid #9a2024
  border-top none
  border-left none
  border-right none

  &:hover
    cursor pointer
    background-color #c4282e

  &--large
    width 200px
    height 50px

.flex
  display flex
  border thin

  &--auto
    flex-basis auto

  @--nowrap
    flex-flow nowrap

  &--row
    flex-direction row

  &--column
    flex-direction column

  &--center
    align-items center

  @--one
    flex-grow 1

.home-section
  display flex
  border thin
  flex-direction column
  align-items left

.home-col
  display flex
  border thin
  flex-direction column
  width 100%
  align-items stretch

.home-row
  display flex
  border thin
  flex-direction row
  flex-flow nowrap
  flex-basis auto
  width 100%
  height 8em

.home-button
  flex-grow 1
  border-style solid
  border-color LightGrey
  margin .25em
  padding 1em
  vertical-align top
  width 30%
  position relative

.home-banner
  display flex
  align-items stretch
  justify-content center
  position relative
  width 100%
  background #d73252
  color white
  padding-top 1em
  padding-bottom 1em
  text-align center

.link-spanner
  position absolute
  width 100%
  height 100%
  top 0
  left  0
  z-index 1

.zoe-version
  font-size: .75em
  border-bottom: 1px #2c3e50 solid
  padding-bottom: 3px

// Use alternate syntax highlighting for secondary code blocks
div[class*="language-"].secondary
  @import '_prism-coldark-cold'

  // Suppress the primary theme
  background-color transparent
  code
    color inherit

div[class*="language-"].secondary.style3 pre
  background-color bisque
