// Extra styles for site
@import './palette'

.ag-btn
  background-color $accentColor
  color $white
  font-size inherit

  &:hover
    cursor pointer

  &--large
    width 200px
    height 50px

.flex
  display flex

  &--column
    flex-direction column

  &--center
    align-items center

.zoe-version
  font-size: .75em
  border-bottom: 1px #2c3e50 solid
  padding-bottom: 3px
