// Color overrides for default theme
$accentColor = #AB2328
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// Additional color variables for use in site
$white = #FFF

// Allow content panel to be larger
$homePageWidth = 90%
$contentWidth=90%
